<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base target="_frame"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CharMap - Powered by OpenType.js</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'/>
    <link href='css/index.css?version=1' rel='stylesheet' type='text/css'/>
    <script src="js/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="https://opentype.js.org/dist/opentype.js"></script>
    <script src="https://unpkg.com/wawoff2@2.0.1/build/decompress_binding.js" type="text/javascript"></script>
    <script src="js/index.js?version=1" type="text/javascript"></script>
</head>
<body>

<div class="navbar">
    <a class="browse-wrap">&#128194; Select font <input id="file" type="file" name="upload" class="upload" title="select font"/></a>
    <a onclick="openPagination()">&#9776; paginations</a>
    <a onclick="openGlyphs()">&#9638; glyphs</a>
</div>

<div onclick="closePaginationIfNeeded()" style="background:#1D242E;">
    <div style="display: flex;justify-content: center;z-index:2;">
        <div style="overflow:auto;height:100%;overflow-x:hidden;padding:20px;padding-top:0;">
            <div id="filename" style="font-size: 10px;color:#999;font-weight: 600;letter-spacing:1px;text-align:center;position:relative;line-height:40px;">
            </div>

            <div style="height:40px;width:100%;border-radius:4px;padding-top:10px;">
                or input font url
                <input id="font-url" type="text" placeholder="input url of font file"/>
            </div>

            <div style="height:40px;width:100%;border-radius:4px;">
                search unicodes
                <input id="search-unicode" type="text" placeholder="input unicode"/>
            </div>

            <div style="font-size: 25px;margin-top:5px;color:#5B6971;font-weight: 100;letter-spacing:1px;text-align:left;margin-bottom:15px;">
                Font
            </div>
            <div id="font-data"></div>
            <div style="font-size: 25px;margin-top:10px;color:#5B6971;font-weight: 100;letter-spacing:1px;text-align:left;margin-bottom:20px;">
                Character <input id="copy-char"
                                 style="border:none;color:#14bfff;border-bottom:1px dotted rgba(255,255,255,0.5);background:transparent;font-size:15px;border-radius:2px;font-weight:600;position:relative;top:-4px;left:5px;width:30px;height:30px;text-align:center;outline:none;font-family:Arial;"/>
            </div>
            <div id="glyph-display" style="position:relative;">
                <canvas id="glyph-bg" width="420" height="310"></canvas>
                <canvas id="glyph" width="300" height="300"></canvas>
            </div>
            <div id="glyph-data"></div>
            <div style="font-size: 10px;color:#999;font-weight: 600;letter-spacing:1px;text-transform:uppercase;text-align:center;position:relative;line-height:40px;">
                Powered By OpenType.js
            </div>
        </div>
    </div>
</div>

<div id="pages" class="overlay">
    <div style="position:absolute;top:0;left:0;right:0;height:80px;padding:20px;box-shadow:inset 0 -1px 0 #EEE;z-index:3;">
        <div style="font-size: 25px;margin-top:5px;font-weight: 100;letter-spacing:1px;text-align:right;" onclick="closePagination()">
            &times;
        </div>
    </div>
    <div style="position:absolute;top:80px;left:0;right:0;bottom:0;z-index:2;">
        <div style="overflow:auto;height:100%;overflow-x:hidden;">
            <div id="pagination"></div>
        </div>
    </div>
</div>

<div id="glyphs" class="overlay" style="background: #FFF;" onclick="closeGlyphs()">
    <div style="position:absolute;top:0;left:0;right:0;height:80px;padding:20px;box-shadow:inset 0 -1px 0 #EEE;z-index:3;">
        <div style="font-size: 25px;margin-top:5px;color:#BBB;font-weight: 100;letter-spacing:1px;text-align:left;">
            Glyphs
        </div>
    </div>
    <div style="position:absolute;top:80px;left:0;right:0;bottom:0;z-index:2;">
        <div style="overflow:auto;height:100%;overflow-x:hidden;">
            <div id="glyph-list-end"></div>
        </div>
    </div>
</div>
</html>
