html, body {
    background: #222;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Open Sans";
    color: #FFF;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#glyph {
    position: absolute;
    top: 0;
    left: 100px;
    margin: 0 auto;
}

.item {
    float: left;
    cursor: pointer;
    border: solid 1px #EEE;
    margin-top: -1px;
    margin-right: -1px;
    background: #FFF;
    transition: all 250ms;
}

.page {
    vertical-align: middle;
    font-size: 13px;
    cursor: pointer;
    padding: 6px 8px;
    text-align: center;
    color: #888;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    transition: all 250ms;
}

.page-selected {
    font-weight: bold;
    color: #FFF;
    background: rgba(255, 255, 255, 0.07);
}

.browse-wrap {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 0;
    background-color: #14bfff;
    width: 100%;
}

.title {
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    border: none !important;
}

.upload {
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    height: 300px;
    outline: none;
    cursor: inherit;
    position: absolute;
    font-size: 1000px !important;
    font-family: "Open Sans";
}

.upload-path {
    text-align: center;
    margin: 20px;
    display: block;
    padding: 0;
    font-size: 80%;
    color: #3b5998;
    font-family: "Open Sans";
}

#pagination, .pagination {
    text-align: left;
    font-size: 12px;
    height: 100%;
    overflow: auto;
    color: #FFF;
}

.item:hover {
    background: #EEE;
}

#glyph-data dl, #font-data dl {
    margin: 0;
}

#glyph-data dt, #font-data dt {
    display: inline-block;
    font: bold 12px/1.4 "Open Sans";
    color: #788b94;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 90px;
}

#glyph-data dd, #font-data dd {
    display: inline-block;
    font: 600 12px/1.4 "Open Sans";
    color: #c3d7ef;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: left;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #000;
}
